<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form class='validated-form' action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" novalidate enctype="multipart/form-data">
            <div class="mb-3" id="titleInput">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" value="<%= camp.title %>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3" id="locationInput">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" value="<%= camp.location %>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="price" name="campground[price]" value="<%= camp.price %>" required>
                    <span class="input-group-text">.00</span>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="mb-3" id="descriptionInput">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required><%= camp.description %></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <% camp.images.forEach(function(img, i){ %> 
                    <img src="<%= img.url  %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= i %>">Delete Image?</label>
                <% }) %> 
            </div>
            <div class="mb-2 d-grid gap-2">
                <button style="color: white;" class="btn btn-info" type="submit">Update</button>
            </div>
        </form>
        
        <footer class="mb-3 d-grid gap-2">
            <a href="/campgrounds" class="btn btn-secondary">Back to Campgrounds</a>
            <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">Cancel Edit</a>
        </footer>
    </div>
</div>